.containerBody{
    margin: 0%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(242, 68, 35);
}

.styleButton{
    border: 0px;
    background-color: transparent;
    height: max-content;
    width: max-content;
}

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(242, 68, 35);
    margin-bottom: 10px;
}

.footer{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(242, 68, 35);
    text-align: center;
    margin-top: 10px;
}

.main{
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url("../Arquivos\ Externos/Imagens/borda.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100vw 85vh;
}

.section{
    height: 80vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.main>section {
   border: 2px solid black;
}

.h1{
    width: max-content;
    height: max-content;
    margin: 0%;
    font-family: Nosifer;
    font-size: 25px;
    padding-top: 0px;
}
.h6{
    width: max-content;
    height: max-content;
    margin: 0%;
    padding-left: 15px;
    font-family: Nosifer;
    font-size: 20px;
}

.paragrafo{
    width: 80vw;
    height: 40vh;
    margin: 0%;
    padding-left: 15px;
    font-family: Nosifer;
    font-size: 19px;
}

@font-face{
    font-family:'Nosifer';
    src: url('../Arquivos\ Externos/Fontes/Nosifer/Nosifer-Regular.ttf') format('truetype');
}

